<div class="p-4 m-4 bg-gray-100 rounded-lg shadow-md">
    <h2 class="text-lg font-semibold mb-4">Filter</h2>
      <!-- Course Type Filter -->
      <div class="mb-4">
        <div class="mt-2">
          <label class="inline-flex items-center">
            <input type="radio" class="form-radio" name="courseType" value="all" checked>
            <span class="ml-2">All</span>
          </label>
          <label class="inline-flex items-center ml-6">
            <input type="radio" class="form-radio" name="courseType" value="free">
            <span class="ml-2">Free Course</span>
          </label>
          <label class="inline-flex items-center ml-6">
            <input type="radio" class="form-radio" name="courseType" value="premium">
            <span class="ml-2">Premium Course</span>
          </label>
        </div>
      </div>
  </div>
  