<div class="sm:m-14 sm:p-4">
   <app-search (searchTextChanged)="setSearchText($event)"></app-search>
   <product-list [searchText]="searchText" #productListComponent></product-list>

   <product-detail
       *ngIf="productListComponent.selectedProduct"
       [productListComp]="productListComponent"
       (closeModal)="closeModal()">
   </product-detail>

   <div class="flex container mx-auto py-8 bg-slate-900 p-4 items-center rounded-md">
       <h2 class="text-2xl font-semibold mb-6 text-white">Latest Arrivals in Popular Brands</h2>
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
           <!-- Card 1 -->
            <featured-branding>
               <h3 class=" heading text-xl font-semibold mb-4">Card Title 1</h3>
               <button class="button mt-4 bg-blue-900 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded">
                  Learn More 1
              </button>
            </featured-branding>
           <!-- Card 2 -->
           <featured-branding>
            <h3 class="heading text-xl font-semibold mb-4">Card Title 2</h3>
            <button class="button mt-4 bg-blue-900 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded">
               Learn More 2
           </button>
           </featured-branding>
           <!-- Card 3 -->
           <featured-branding>
            <h3 class="heading text-xl font-semibold mb-4">Card Title 3</h3>
            <button class="button mt-4 bg-blue-900 hover:bg-blue-950 text-white font-bold py-2 px-4 rounded">
               Learn More 3
           </button>
           </featured-branding>
       </div>
   </div>
</div>
