<!-- Search Form -->
<div class="flex items-center justify-center space-x-4 py-2">
    <input type="text" placeholder="Search..." [(ngModel)]='searchText'(input)="onSearchTextChange()" class="border border-gray-300 rounded-lg p-2 w-2/3 md:w-1/3">
    <button [disabled]="!searchText" [ngClass]="{'bg-blue-500 hover:bg-blue-700':searchText,'bg-red-100':!searchText}" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">Search</button>
</div>

<!-- Search Result -->
<div class="py-4 h-10">
    <p *ngIf="searchText" class="text-gray-700">Search result for: <strong class="font-bold">{{searchText}}</strong></p>
</div>
